---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].work_experience| default: "Work Experience" }}</h3>
{% if paginator %}
{% assign posts = paginator.Experience %}
{% else %}
{% assign posts = site.Experience %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
    {% include documents-collection.html entries=posts type=entries_layout %}
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].projects | default: "Projects" }}</h3>
{% if paginator %}
{% assign posts = paginator.Projects %}
{% else %}
{% assign posts = site.Projects %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
    {% include documents-collection.html entries=posts type=entries_layout %}
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].education| default: "Education" }}</h3>
{% if paginator %}
{% assign posts = paginator.Education %}
{% else %}
{% assign posts = site.Education %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
    {% include documents-collection.html entries=posts type=entries_layout %}
</div>


{% include paginator.html %}
