---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].work_experience| default: "Work Experience" }}</h3>
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].projects | default: "Projects" }}</h3>
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].education| default: "Education" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}
